<!-- Include the PDF.js library in your HTML page -->
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.2.146/build/pdf.min.js"></script>

<!-- Create a container element for the PDF viewer -->
<div id="pdf-viewer"></div>

<!-- Add a script to load and display the PDF -->
<script>
async function displayPdf() {
    // Asynchronously fetch the PDF from the URL
    const pdf = await pdfjsLib.getDocument("https://tom_ryan.gitlab.io/thbpub/contents.pdf");
    // Get the total number of pages in the PDF
    const numPages = pdf.numPages;

    // Render the first page of the PDF as a single page
    pdf.getPage(1).then(function(page) {
        const scale = 1.5;
        const viewport = page.getViewport({scale: scale});
        const canvas = document.createElement("canvas");
        const context = canvas.getContext("2d");
        canvas.className = "page";
        canvas.height = viewport.height;
        canvas.width = viewport.width;
        page.render({canvasContext: context, viewport: viewport});
        document.getElementById("pdf-viewer").appendChild(canvas);
    });

    // Render the remaining pages of the PDF as 2-page spreads
    (async function renderPages(pageNumber) {
        if (pageNumber <= numPages) {
            // Render the current page
            const page = await pdf.getPage(pageNumber);
            const viewport = page.getViewport({scale: 1.5});
            const canvas = document.createElement("canvas");
            const context = canvas.getContext("2d");
            canvas.className = "page";
            canvas.height = viewport.height;
            canvas.width = viewport.width / 2;
            page.render({canvasContext: context, viewport: viewport});
            document.getElementById("pdf-viewer").appendChild(canvas);

            // If there is another page, render it and the next page as a 2-page spread
            if (pageNumber + 1 <= numPages) {
                page.getPage(pageNumber + 1).then(function(page) {
                    const viewport = page.getViewport({scale: 1.5});
                    const canvas = document.createElement("canvas");
                    const context = canvas.getContext("2d");
                    canvas.className = "page";
                    canvas.height = viewport.height;
                    canvas.width = viewport.width / 2;
                    page.render({canvasContext: context, viewport: viewport});
                    document.getElementById("pdf-viewer").appendChild(canvas);
                });
                renderPages(pageNumber + 2);
            }
        }
    })(2);
}
displayPdf();
</script>

<!-- Add some CSS to style the pages and arrange them in a side-by-side layout -->
<style>
    #pdf-viewer {
        display: flex;
        flex-wrap: wrap;
    }
    .page {
        width: 50%;
        height: 100%;
    }
</style>
